{% for address in customer.get_addresses %}
    <div class="row d-flex justify-content-between align-items-center {% if forloop.last %}mb-3{% endif %}">
        <div class="col-md-4">
            <a data-toggle="tooltip" title="Edit address" class="text-decoration-none link-primary" href="{% url 'customer-address-update' address.id %}">
                {{ address.address }}
            </a>
        </div>
        <div class="col-md-4">
            <p class="text-muted small my-auto" style="line-height: 100%">
            <small>
                {{ address.additional_data }}<br>
                {{ address.region }}, {{ address.city }}<br>
                {{ address.contact_phone }}
            </small>
        </p>
        </div>
        <div class="col-md-4">
            {% include 'customers/shipping_addresses/snippets/delete_address.html' %}
        </div>
    </div>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}

