{% for label, value in customer.get_personal_info.items %}
    <div class="row">
        <div class="col-md-6 mb-1">{{ label }}:</div>
        <div class="col-md-6">{{ value }}</div>
    </div>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
