{% extends 'base.html' %}

{% load static %}
{% load product_extras %}
{% load cart_extras %}

{% block title %}Shop - shopping cart{% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row justify-content-center">
            {% if user.is_authenticated %}
                {% if cart.products.exists %}
                    <!-- Begin cart detail -->
                    <div class="col-lg-8">
                        <!-- Begin cart product detail card -->
                        <div class="card card-shadow border-0 mb-3">
                            <div class="card-body">
                                <h1 class="h1 mb-4">Shopping cart</h1>
                                <!-- Begin product list -->
                                {% for cartproduct in cart.products_related %}
                                    {% with product=cartproduct.product %}
                                        <div class="row mb-4">
                                            <div class="col-md-5 col-lg-3 col-xl-3">
                                                <div class="rounded mb-3 mb-md-0">
                                                    <!-- Product image -->
                                                    <div>
                                                        {% if product.image %}
                                                            <img class="img-fluid w-100" src="{{ product.image.small.url }}" alt="product-preview">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product details -->
                                            <div class="col-md-7 col-lg-9 col-xl-9">
                                                <div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h3 class="h3">{{ product.name }}</h3>
                                                            <p class="mb-3 text-muted text-uppercase small">Price: {{ product.price | price_format }}</p>
                                                            <ul class="list-inline pb-1">
                                                                <li class="list-inline-item text-right">
                                                                    Quantity
                                                                    <input type="hidden" name="product-quanity" id="product-quanity" value="{{ cartproduct.quantity }}">
                                                                </li>
                                                                <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                                                <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">{{ cartproduct.quantity }}</span></li>
                                                                <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        {% include 'shop/products/snippets/delete_from_cart.html' %}
                                                        <p class="mb-0"><span><strong>Total: {% calculate_total_product product.price cartproduct.quantity %}</strong></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not forloop.last %}
                                            <hr class="mb-4">
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                                <!-- End product list -->
                            </div>
                        </div>
                        <!-- End cart product detail card -->
                        <!-- Begin shipping info -->
                        <div class="card card-shadow border-0 mb-3 ">
                            <div class="card-body">
                                <h5 class="mb-4">Expected shipping delivery</h5>
                                <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
                            </div>
                        </div>
                        <div class="card card-shadow border-0 mb-3">
                            <div class="card-body">
                                <h5 class="mb-4">We accept</h5>
                                <p class="mb-0">Soon...</p>
                                <!-- TODO: Payment methods -->
                            </div>
                        </div>
                        <!-- End shipping info -->
                    </div>
                    <!-- Begin payment info -->
                    <div class="col-lg-4">
                        <div class="card card-shadow border-0 mb-3">
                            <div class="card-body">
                                <h5 class="mb-3">Summary</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        Subtotal
                                        <span>{{ cart.subtotal | price_format }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Shipping
                                        <span>Free</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Total</strong>
                                            <strong><p class="mb-0">(including VAT)</p></strong>
                                        </div>
                                        <span><strong>{{ cart.total | price_format }}</strong></span>
                                    </li>
                                </ul>

                                <div class="row m-auto">
                                    <a type="button" class="btn btn-success" href="{% url 'shop-order' %}"><b>CHECKOUT</b></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End payment info -->
                    <!-- End cart detail -->
                {% else %}
                    <div class="col-md-4 m-auto">
                        <img src="{% static 'shop/carts/img/empty-cart.svg' %}" alt="empty-cart">
                    </div>
                    <div class="col-md-9 m-auto">
                        <div class="text-center">
                            <h3 class="h3">Your cart is currently empty!</h3>
                            <p>Looks like you haven't added anything to your cart yet</p>
                            <a class="btn btn-success" href="{% url 'shop' %}"><b>Continue shopping</b></a>
                        </div>

                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-4 my-auto">
                    <img src="{% static 'shop/carts/img/cart-login.svg' %}" alt="cart-login">
                </div>
                <div class="col-md-6 my-auto">
                    <h3 class="h3 text-center">Hello! To add to cart, log in <br> to your account</h3>
                    <div class="row px-2 justify-content-center">
                        <div class="col-9 d-grid mb-2"><a class="btn btn-primary" href="{% url 'customer-signup' %}"><b>I'm new</b></a></div>
                        <div class="col-9 d-grid"><a class="btn btn-outline-success" href="{% url 'customer-login' %}"><b>I already have an account</b></a></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
