{% extends 'base.html' %}

{% load static %}
{% load cart_extras %}
{% load product_extras %}

{% block title %}Shop - shopping cart{% endblock %}

{% block content %}

    <div class="bg-white">
        <div class="container py-5">
            <div class="row">
                <div class="card card-shadow border-0 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div class="rounded mb-3 mb-md-0">
                                    <div>
                                        {% if product.image %}
                                            <img class="img-fluid w-100" src="{{ product.image.small.url }}" alt="Product preview" id="product-detail">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h2 class="text-success">{{ quantity | product_quantity_format }}</h2>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <p>{{ product.name }}</p>
                                            <p>{{ product.price | price_format }}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="row">
                                            <div class="col-12 d-grid py-2">
                                                <a class="btn btn-success btn-lg" href="{% url 'shop-cart' %}">Show cart</a>
                                            </div>
                                            <div class="col-12 d-grid">
                                                <a class="btn btn-secondary btn-lg" href="#">Buy cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
