{% extends 'base.html' %}

{% load static %}

{% block title %}Profile - shipping addresses{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="col-md-8 mx-auto">
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
