<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for step in breadcrumb %}
            {% if step.active %}
                <a class="breadcrumb-item" href="{{ step.url }}">{{ step.label }}</a>
            {% else %}
                <span class="breadcrumb-item active">{{ step.label }}</span>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
