<!-- Begin address form-->
<form class="mt-4" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group mb-3">
            {{ field }}
            {% if field.errors %}
                {{ field.error }}
            {% endif %}
        </div>
    {% endfor %}
    <div class="col">
        <button type="submit" class="btn btn-success btn-lg">Save</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'customer-profile' %}"><strong>Cancel</strong></a>
    </div>
</form>
<!-- End address form-->
