<form action="{% url 'customer-address-delete' address.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm text-uppercase">
        <i class="fas fa-trash-alt"></i>
        Delete
    </button>
</form>
