
{% extends 'base.html' %}

{% load static %}
{% load product_extras %}
{% load cart_extras %}

{% block title %}Shop - order{% endblock %}

{% block breadcrumb %}
    <div class="container pt-5">
        {% include 'shop/orders/snippets/breadcrumb.html' %}
    </div>
{% endblock %}

{% block content %}

    <div class="container pb-5">
        <div class="row">
            {% if cart.products.exists %}
                <!-- Begin cart detail -->
                <div class="col-lg-8">
                    <!-- Begin cart product detail card -->
                    <div class="card card-shadow border-0 mb-3">
                        <div class="card-body">
                            <h1 class="h1 mb-4">Order summary</h1>
                            <!-- Begin product list -->
                            {% for cartproduct in cart.products_related %}
                                {% with product=cartproduct.product %}
                                    <div class="row mb-4">
                                        <div class="col-md-5 col-lg-3 col-xl-3">
                                            <div class="rounded mb-3 mb-md-0">
                                                <!-- Product image -->
                                                <div>
                                                    {% if product.image %}
                                                        <img class="img-fluid w-100" src="{{ product.image.small.url }}" alt="product-preview">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product details -->
                                        <div class="col-md-7 col-lg-9 col-xl-9">
                                            <div>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h3 class="h3">{{ product.name }}</h3>
                                                        <p class="mb-3 text-muted text-uppercase small">Price: {{ product.price | price_format }}</p>
                                                        <ul class="list-inline pb-1">
                                                            <li class="list-inline-item text-right"><strong>Quantity: {{ cartproduct.quantity }}</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-0"><span><strong>Total: {% calculate_total_product product.price cartproduct.quantity %}</strong></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if not forloop.last %}
                                        <hr class="mb-4">
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                            <!-- End product list -->
                        </div>
                    </div>
                    <!-- End cart product detail card -->
                </div>
                <!-- Begin payment info -->
                <div class="col-lg-4">
                    <div class="card card-shadow border-0 mb-3">
                        <div class="card-body">
                            <h5 class="mb-3">Summary</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Subtotal
                                    <span>{{ cart.subtotal | price_format }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Free</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total</strong>
                                        <strong><p class="mb-0">(including VAT)</p></strong>
                                    </div>
                                    <span><strong>{{ cart.total | price_format }}</strong></span>
                                </li>
                            </ul>

                            <div class="row m-auto">
                                <a type="button" class="btn btn-success" href="#"><b>CONFIRM ORDER</b></a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End payment info -->
                <!-- End cart detail -->
            {% endif %}
        </div>
    </div>

{% endblock %}
