{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'customers/registration/css/main.css' %}">
{% endblock %}

{% block title %}Shop - sign up{% endblock %}

{% block content %}

    <div class="bg-light py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Begin Sign up form -->
                    <form class="col-md-9 m-auto" method="post" role="form">
                        {% csrf_token %}
                        <h1 class="h1 text-center mb-4"> Subscribe!</h1>
                        {% for field in form %}
                            <div class="form-group mb-4">
                                {{ field }}
                                {% if field.errors%}
                                    {{ field.error }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="form-group mb-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label" for="remember"> I agree all statements in Term of services</label>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-success btn-lg px-3">Create account</button>
                    </form>
                    <!-- End Sign up form -->
                </div>
                <div class="col-md-6 form-image js-tilt" data-tilt>
                    <img src="{% static 'customers/registration/img/signup.svg' %}" alt="signin">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'customers/registration/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 0.95
		})
	</script>
{% endblock %}
