{% extends 'base.html' %}

{% load static %}

{% url 'customer-signup' as signup %}

{% block title %}Shop - sign in{% endblock %}

{% block content %}

    <div class="bg-light py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Begin login form -->
                    <form class="col-md-9 m-auto" method="post" role="form">
                        {% csrf_token %}
                        <h1 class="h1 text-center mb-4">Welcome!</h1>
                        {% for field in form %}
                            <div class="form-group mb-4">
                                {{ field }}
                                {% if field.errors%}
                                    {{ field.error }}
                                {% endif %}
                            </div>
                        {% endfor %}
                         <div class="form-group mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="remember">
                                <label class="form-check-label" for="remember"> Remember me </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#"> Forgot password? </a>
                        </div>
                        <div class="row mb-4">
                        </div>
                        <div class="form-group mb-2">
                            <button type="submit" class="btn btn-success btn-lg px-3">Sign in</button>
                        </div>
                    </form>
                    <!-- End login form -->
                    <p class="text-center mt-4">
                        Don't have an account?
                        <a href="{% url 'customer-signup' %}">Sign up</a>
                    </p>
                </div>
                <div class="col-md-6 form-image js-tilt" data-tilt>
                    <img src="{% static 'customers/registration/img/signin.svg' %}" alt="signin">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'customers/registration/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 0.95
		})
	</script>
{% endblock %}
