/*
Custom Css
*/

/* Cards */
.card-link-remove {
  color: #6c757d;
}

.card-link-remove:hover {
  color: #dc3545;
}

.card-link-wish {
  color: #6c757d;
}

.card-link-wish:hover {
  color: #59ab6e;
}

.card-shadow {
  box-shadow: 0 10px 20px 0 #00000012;
}

/* Customers */
@media (max-width: 768px) {
  .form-image {
    display: none;
  }
}
