{% extends "admin/change_form.html" %}

{% load static %}
{% load thumbnail %}

{% block after_related_objects %}
    <div align="center" style="margin-bottom: 25px;">
        {% if original.image %}
        <a href="{{ original.image.url }}">
            <img src="{{ original.image.preview.url }}" alt="image-preview">
        </a>
        {% else %}
        <img src="{% static 'products/img/noimage.png' %}" alt="image-preview" width="120px">
        {% endif %}
    </div>
{% endblock %}
