<form action="{% url 'shop-cart-items-added' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div class="row">
        <div class="col-auto">
            <ul class="list-inline pb-3">
                <li class="list-inline-item text-right">
                    Quantity
                    <input type="hidden" name="product_quantity" id="product-quanity" value="1">
                </li>
                <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
            </ul>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col d-grid">
            <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
        </div>
        <div class="col d-grid">
            <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
        </div>
    </div>
</form>
