<form action="{% url 'shop-cart-items-deleted' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div>
        <button type="submit" class="btn btn-danger small text-uppercase">
            <i class="fas fa-trash-alt"></i>
            Remove item
        </button>
    </div>
</form>
