{% load product_extras %}

<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
                <div class="rounded-0">
                    {% if product.image %}
                        <img class="card-img rounded-0 img-fluid" src="{{ product.image.medium.url }}">
                    {% endif %}
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                            <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a></li>
                            <li><a class="btn btn-success text-white mt-2" href="{{ product.get_absolute_url }}"><i class="far fa-eye"></i></a></li>
                            <li><a class="btn btn-success text-white mt-2" href="{% url 'shop-cart-items-added' %}"><i class="fas fa-cart-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <a href="shop-single.html" class="h3 text-decoration-none">{{ product.name }}</a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>M/L/X/XL</li>
                        <li class="pt-2">
                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-center mb-0">{{ product.price | price_format }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if is_paginated %}
    <!-- Begin pagination -->
    <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ page_obj.previous_page_number }}"><b>&laquo;</b></a>
                </li>
            {% endif %}

            {% for index in paginator.page_range %}
                <li class="page-item ">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 {% if page_obj.number == index %}text-success{% else %}text-dark{% endif %}" href="?page={{index}}">{{ index }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ page_obj.next_page_number }}"><b>&raquo;</b></a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- End pagination -->
{% endif %}

