{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block title %}Customers - profile{% endblock %}

{% block content %}
    <!--Begin profile section-->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-img">
                    <img class="rounded-circle img-fluid border w-50" src="{% if profile.picture %}{{ profile.picture.url }}{% else %}{% static 'profiles/img/no-photo.gif' %}{% endif %}" alt="profile-picture"/>
                    <div class="file btn btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="profile-head mb-3">
                    <div class="row">
                        <div class="col d-flex">
                            <h2>Welcome {{ customer }}</h2>
                            <a class="btn btn-primary btn-lg mx-4" href="#"><strong>Edit Profile</strong></a>
                        </div>
                    </div>
                    {% if customer.is_superuser %}
                        <a class="text-decoration-none" href="{% url 'admin:index' %}">Site Administrator</a>
                    {% else %}
                        <h5>Customer</h5>
                    {% endif %}
                    <p class="w-75 text-muted small" style="line-height: 100%"><small>{% if profile.bio %}{{ profile.bio }}{% endif %} </small></p>
                </div>
                <div class="bg-light rounded">
                    <div class="container py-3">
                        <h4>Personal information</h4>
                        <div class="card card-shadow border-0 mb-3">
                            <div class="card-body">
                                {% include 'customers/profile/snippets/personal_info.html' %}
                            </div>
                        </div>
                        <h4>Addresses</h4>
                        <div class="card card-shadow border-0 mb-3">
                            <div class="card-body">
                                {% if customer.get_addresses %}
                                    {% include 'customers/profile/snippets/addresses.html' %}
                                {% endif %}
                                <a type="button" class="btn btn-success btn-lg" href="{% url 'customer-address-add' %}">
                                    Add new address
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End profile section-->
{% endblock %}
