<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    {% block extra_styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block extra_header %}{% endblock %}
</head>
<body>
    <!--Navigation-->
    {% include 'navbar.html' %}

    <!--Header-->
    {% include 'header.html' %}

    <!--Container-->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} }">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {{ message }}
                </div>            
            {% endfor %}
        {% endif %}

        <!--Breadcrumb-->
        {% block breadcrumb %}
        {% endblock %}

        <!--Content-->
        {% block content %}
        {% endblock %}

    <!--Footer-->
    {% include 'footer.html' %}

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>
