{% load static %}

{% url 'about' as about %}
{% url 'contact' as contact %}
{% url 'home' as home %}
{% url 'shop' as shop %}
{% url 'shop-cart' as cart %}
{% url 'customer-login' as login %}
{% url 'customer-logout' as logout %}
{% url 'customer-profile' as myaccount %}


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="{{ home }}">
            EnEsencia
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ home }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ about }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ shop }}">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ contact }}">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-icon position-relative text-decoration-none" href="{{ cart }}">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
                {% if user.is_authenticated %}
                    <a class="nav-icon position-relative text-decoration-none" href="{{ myaccount }}">
                        <i class="fas fa-user-circle text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{{ logout }}">
                        <i class="fas fa-sign-in-alt text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                {% else %}
                    <a class="nav-icon position-relative text-decoration-none" href="{{ login }}">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->
