{% extends 'base.html' %}

{% load thumbnail %}
{% load product_extras %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if products %}
        <!-- Start Banner Hero -->
        <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators mt-4">
                {% for product in products %}
                    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="{{forloop.counter0}}" class="mt-4 {% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for product in products %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="container">
                            <div class="row p-5">
                                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                    <img class="img-fluid" src="{{ product.image.large.url }}" alt="product-image">
                                </div>
                                <div class="col-lg-6 mb-0 d-flex align-items-center">
                                    <div class="text-align-left align-self-center">
                                        <h1 class="h1 text-success"><b>{{ product.name }}</b></h1>
                                        <h3 class="h2">{{ product.price | price_format }}</h3>
                                        {% if product.description %}<p>{{ product.description }}</p>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <!-- End Banner Hero -->
    {% endif %}

    {% if categories %}
        <!-- Start Categories of The Month -->
        <section class="container py-5">
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Categories of The Month</h1>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="row">
                {% for category in categories %}
                    <div class="col-md-4 p-4">
                        <a href="#"><img src="{{ category.image.large.url }}" class="rounded-circle img-fluid border"></a>
                        <h5 class="text-center mt-3 mb-3">{{ category.name }}</h5>
                        <p class="text-center"><a class="btn btn-success" href="{% url 'shop' %}">Go Shop</a></p>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- End Categories of The Month -->
    {% endif %}

    {% if featured %}
        <!-- Start Featured Product -->
        <section class="bg-light">
            <div class="container py-5">
                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Featured Product</h1>
                        <p>
                            Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident.
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in featured %}
                        <div class="col-12 col-md-4 mb-4">
                            <div class="card h-100">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.featured.url }}" class="card-img-top" alt="featured-image">
                                </a>
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between">
                                        <li>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                        </li>
                                        <li class="text-muted text-right">$240.00</li>
                                    </ul>
                                    <a href="{{ product.get_absolute_url }}" class="h2 text-decoration-none text-dark">Gym Weight</a>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                                    </p>
                                    <p class="text-muted">Reviews (24)</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Featured Product -->
    {% endif %}

{% endblock %}
