{% extends 'base.html' %}

{% block content %}
    <div class="bg-white">
        <div class="container py-5">
            <div class="row align-items-center">
                {% block extra_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
